*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
header  ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}
header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
header div button{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: none;
}
header div .cart{
    background-color: #F1DDC9;
    border-radius: 100%;
    padding: 10px;
}




/* section */
.hero{
    padding-top: 40px;

}
.hero .path strong{
    color: #D84727;
}
.hero .product{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero .product .left{
    background-color: #F1DDC9;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero .product .right{
    display: flex;
    justify-content: start;
}
.hero .product .right .detail{
    display: flex;
    max-width: 500px;
    flex-direction: column;
    /* padding-right: 480px; */
    gap:15px;
    
}
.hero .product .right .detail strong{
    font-size: 20px;
}
.hero .product .right .detail .color{
    display: flex;
    gap: 10px;
}

.hero .product .right .detail .add-to-cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.hero .product .right .detail .add-to-cart .minez{
    border: solid 1px black;
}
.hero .product .right .detail .add-to-cart .plus{
    background-color: #D84727;
    border: solid 1px #D84727;
}
.hero .product .right .detail .add-to-cart button{
    background-color: #D84727;
    border: none;
    padding: 15px 35px;
    border-radius: 12px;
}
.hero .product .right .watch{
    width: 250px;
    position: absolute;
    right: 680px;
    top: 150px;
}




/* footer */


footer .ham{
    background-color: #DA5E42;
}
footer .ham .company{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

}
footer .fot{
    background-color: #D84727;
    display: flex;
    justify-content: center;
    gap: 200px;
    padding-top: 30px;
    padding-bottom:30px ;
}
footer .fot .uls ul{
    list-style: none;
    display: flex;
    gap: 5px;
    flex-direction: column;
}


