doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../style.css")
    body 
        footer 
            div.ham
                div.company 
                    img(src="../img/image 25.png", alt="")
                    img(src="../img/image 25.png", alt="")
                    img(src="../img/image 25.png", alt="")
                    img(src="../img/image 25.png", alt="")
                    img(src="../img/image 25.png", alt="")
                
                div.company
                    img(src="../img/image 25.png", alt="")
                    img(src="../img/image 25.png", alt="")
                    img(src="../img/image 25.png", alt="")
                    img(src="../img/image 25.png", alt="")
                    img(src="../img/image 25.png", alt="")
            div.fot
                div.uls
                    ul 
                        li Address
                        li Store & Office
                        li Jl. Setrasari Kulon III, No. 10-12
                        li Sukarasa, Sukasari, Bandung, 
                        li Jawa Barat, Indonesia 40152
                div.uls
                    ul 
                        li Useful Link
                        li Warranty & Complaints
                        li Order & Shipping
                        li Tracking Order
                        li About Us
                        
                div.uls
                    ul 
                        li CampaignMengenal Arti Cukup
                        li Tell Your Difference
                        li Waykambas
                        li Rebrand
                        li Gallery
                        
                        
